* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Navbar Styles */
.navbar-collapse {
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(0);
}

/* Body and Welcom Section */
body {
    background-color: #f0f2f5;
    color: #333;
}

.welcome-section {
    background-image: url('./assets/image/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.welcome-content {
    position: relative;
    z-index: 2;
}

/* Card Styles */
.card-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.card {
    flex: 1;
    margin: 10px;
    border: none;
    color: white;
}

.card:not(:last-child) {
    border-radius: 0;
    border-right: 2px solid #ff7f50;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-custom {
    background-color: #ff7f50;
    color: #333333;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-custom:hover,
.btn-custom:focus {
    background-color: #e06f44;
    color: #333333;
    box-shadow: 0 0 0 4px rgba(255, 127, 80, 0.5);
    outline: none;
}

.btn-custom:focus {
    box-shadow: 0 0 0 4px rgba(255, 127, 80, 0.5);
}

.btn-custom:hover {
    background-color: #e06f44;
    color: #333333;
}

/* Styles pour les appareils mobiles */
@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 56px;
        right: 0;
        width: 250px;
        height: calc(100% - 56px);
        background-color: white;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1500;
    }

    .navbar-collapse.show {
        transform: translateX(0);
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .btn {
        width: 100%;
        text-align: left;
    }

    /* Styles pour les cartes en version mobile */
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 10px 0;
        border-right: none;
    }

    .card:not(:last-child) {
        border-bottom: 2px solid #ff7f50;
    }

    .custom-toggler {
        background-color: #ff7f50;
        border: none;
        border-radius: 5px;
        color: #333333;
        outline: none;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .custom-toggler:hover,
    .custom-toggler:focus {
        background-color: #e06f44;
        box-shadow: 0 0 0 4px rgba(255, 127, 80, 0.5);
        outline: none;
    }

    .custom-toggler:focus {
        box-shadow: 0 0 0 4px rgba(255, 127, 80, 0.5);
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        color: #333333;
    }
}

/* Styles pour les éléments de formulaire */
.form-label {
    color: #333333;
}

.form-control {
    background-color: #444444;
    border: 2px solid #ff7f50;
    border-radius: 5px;
    padding: 10px;
    color: #333333;
    width: calc(100% - 30px);
    margin: 5px auto;
}

.form-control:focus {
    border-color: #e06f44;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);
    background-color: #555555;
}

.btn-primary {
    background-color: #ff7f50;
    color: #333333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #e06f44;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);
    outline: none;
}

form.needs-validation {
    border: 2px solid #ff7f50;
    border-radius: 15px;
    padding: 20px;


}

.header-custom {
    border-bottom: 2px solid #ff7f50;
    padding: 10px 0;
}

.main-contact {
    height: 100vh;
}

form.needs-validation {
    max-width: 500px;
    width: 100%;
}

/* Styles pour la page About*/
.about-section {
    padding: 60px 0;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.about-img {
    max-width: 50%;
    height: auto;
    border-radius: 200px;
    border: 2px solid #ff7f50;
}

.bordered-container {
    border: 2px solid #ff7f50;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.section-divider {
    border-bottom: 2px solid #ff7f50;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.section-divider:last-child {
    border-bottom: none;
}

/* Style pour la page Projets */
.project-details {
    display: none;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #ff7f50;
}

.card-project {

    border-radius: 10px;
    border: 2px solid #ff7f50;
}

#back-button {
    display: none;
    margin-bottom: 20px;
}

.carousel-container {
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100%;
    height: 100%;
}

